In [1]:
from __future__ import print_function, division
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

from K2fov import K2findCampaigns

from tqdm import tnrange, tqdm_notebook

In [2]:
%matplotlib inline

In [3]:
df = pd.read_table('flare-stars.txt', delim_whitespace=True, )
df[[u'index', u'ra', u'dec', u'MagU', u'MagB',
       u'MagV', u'MagR', u'MagI', u'Magg', u'Magr', u'bib',
       u'not']] = df[[u'index', u'ra', u'dec', u'MagU', u'MagB',
       u'MagV', u'MagR', u'MagI', u'Magg', u'Magr', u'bib',
       u'not']].apply(pd.to_numeric, errors='coerce')

In [4]:
df['mag'] = df[['MagU', 'MagB', 'MagV', 'MagR', 'MagI', 'Magg', 'Magr']].min(axis=1, numeric_only=True)
df['mag'] = df['mag'].replace(np.nan, 50.0)

In [5]:
df['inCA'] = np.zeros_like(df['index']) * np.nan
df['inCB'] = np.zeros_like(df['index']) * np.nan
for i in tnrange(len(df.index)):
    try:
        c = K2findCampaigns.findCampaigns(float(df['ra'][i]), float(df['dec'][i]))
            
        if len(c) == 1:
            df.loc[i,'inCA'] = int(c[0])
        if len(c) == 2:
            df.loc[i,'inCA'] = int(c[0])
            df.loc[i,'inCB'] = int(c[1])
    except ValueError:
        continue

In [6]:
df['observedable'] = np.isfinite(df['inCA'])

In [7]:
obs = df[(df['observedable'])]

In [12]:
savetable = obs.sort_values('bib', ascending=False).loc[(obs['inCA'] >=12.0) | (obs['inCB'] >= 12.0) ]

In [13]:
savetable.to_csv('flares-observable.csv', index=False)
savetable.to_csv('flares-observable.csv', index=False)

In [14]:
savetable

,index,identifier,typ,ra,dec,MagU,MagB,MagV,MagR,MagI,Magg,Magr,spectype,bib,not,mag,inCA,inCB,observedable
912,913,Wolf359,Fl*,164.120271,7.014658,16.706,15.541,13.507,11.684,9.507,14.265,12.762,M5.0Ve,552,0,9.507,14.0,NaN,True
1593,1594,V*V927Tau,Fl*,67.849258,24.181369,NaN,14.000,NaN,13.700,NaN,NaN,NaN,M4.75,85,1,13.700,13.0,NaN,True
434,435,V*AZCnc,Fl*,130.123963,18.402550,14.100,19.200,17.590,16.600,13.450,NaN,NaN,M6.0V,58,0,13.450,16.0,NaN,True
1901,1902,V*FFTau,Fl*,68.837092,22.906736,17.570,15.730,NaN,12.800,NaN,NaN,NaN,M9V:,54,1,12.800,13.0,NaN,True
274,275,GJ1154,Fl*,183.568908,0.623989,NaN,15.400,13.640,13.309,10.100,14.380,12.990,M4.5Ve,45,0,10.100,10.0,17.0,True
2005,2006,V*AFPsc,Fl*,352.937210,-2.744330,NaN,15.700,14.430,13.300,NaN,NaN,NaN,M4.5,41,0,13.300,12.0,NaN,True
97,98,Ross388,Fl*,77.291540,15.459030,NaN,13.980,12.516,12.120,10.200,13.172,11.921,M3.5V,27,0,10.200,13.0,NaN,True
351,352,2MASSJ04260431+1707145,Fl*,66.517983,17.120719,NaN,17.370,15.710,15.710,NaN,16.504,14.971,M5V,25,0,14.971,13.0,NaN,True
1094,1095,GJ3631,Fl*,163.059300,5.919404,NaN,15.900,14.823,14.637,11.400,15.601,14.159,M5.40,24,0,11.400,14.0,NaN,True
656,657,GJ3630,Fl*,163.013598,0.544034,NaN,15.200,13.898,13.614,10.700,14.636,13.253,M4V,24,0,10.700,14.0,NaN,True
1836,1837,V*V1117Tau,Fl*,69.565080,23.041000,NaN,15.120,NaN,12.700,NaN,NaN,NaN,M1,22,0,12.700,13.0,NaN,True
451,452,V*EZTau,Fl*,68.804870,22.989030,NaN,18.300,NaN,14.900,NaN,NaN,NaN,M4.75V,20,0,14.900,13.0,NaN,True
971,972,GJ3636,Fl*,165.210120,12.069670,NaN,17.200,15.960,14.800,12.000,NaN,NaN,M5,16,0,12.000,14.0,NaN,True
1525,1526,V*AXCnc,Fl*,129.791096,19.783036,14.800,14.800,NaN,NaN,NaN,NaN,NaN,M2.0,15,0,14.800,5.0,16.0,True
1474,1475,V*V925Tau,Fl*,67.659131,22.908021,13.100,14.680,13.015,12.563,NaN,13.717,12.417,M2.5,13,0,12.417,13.0,NaN,True
1463,1464,V*FITau,Fl*,69.301133,23.604478,NaN,16.300,NaN,NaN,NaN,NaN,NaN,M5V:...,13,0,16.300,13.0,NaN,True
1236,1237,V*V828Tau,Fl*,68.169120,22.703000,NaN,16.800,NaN,15.100,NaN,NaN,NaN,M8,12,0,15.100,13.0,NaN,True
777,778,V*V1059Tau,Fl*,70.729500,25.276670,15.320,13.200,NaN,NaN,NaN,NaN,NaN,~,12,0,13.200,13.0,NaN,True
773,774,V*EYTau,Fl*,67.687460,22.630080,NaN,15.500,NaN,NaN,NaN,NaN,NaN,M5V:e...,10,0,15.500,13.0,NaN,True
985,986,V*DRCnc,Fl*,131.186704,19.406161,15.500,19.810,17.230,NaN,NaN,NaN,NaN,M,8,0,15.500,5.0,16.0,True
262,263,V*CPCnc,Fl*,130.843350,19.200208,NaN,16.500,NaN,NaN,NaN,NaN,NaN,M2.7,6,0,16.500,5.0,16.0,True
1153,1154,V*FHTau,Fl*,69.158113,23.042161,NaN,14.800,NaN,NaN,NaN,NaN,NaN,M5V:e,6,0,14.800,13.0,NaN,True
1594,1595,V*V823Tau,Fl*,66.513830,24.709690,NaN,15.900,NaN,14.200,NaN,NaN,NaN,~,6,0,14.200,13.0,NaN,True
713,714,V*V824Tau,Fl*,67.015460,24.402140,NaN,14.900,NaN,NaN,NaN,NaN,NaN,~,6,0,14.900,13.0,NaN,True
406,407,V*FKTau,Fl*,69.507790,25.953110,NaN,17.100,NaN,NaN,NaN,NaN,NaN,M6V:e...,6,0,17.100,13.0,NaN,True
1867,1868,V*V924Tau,Fl*,67.555400,25.162800,NaN,14.200,NaN,NaN,NaN,NaN,NaN,~,5,0,14.200,13.0,NaN,True
866,867,V*V919Tau,Fl*,67.183000,25.077000,NaN,15.600,NaN,NaN,NaN,NaN,NaN,~,5,0,15.600,13.0,NaN,True
806,807,V*V1105Tau,Fl*,67.732290,24.838170,NaN,16.210,NaN,NaN,NaN,NaN,NaN,~,5,0,16.210,13.0,NaN,True
1582,1583,V*V908Tau,Fl*,66.657710,25.564940,15.000,15.210,NaN,13.100,NaN,NaN,NaN,~,4,0,13.100,13.0,NaN,True
1479,1480,V*V909Tau,Fl*,66.618000,22.515110,NaN,14.700,NaN,14.600,NaN,NaN,NaN,~,4,0,14.600,13.0,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1686,1687,[H83b]B75,Fl*,67.750000,24.830000,NaN,18.000,NaN,NaN,NaN,NaN,NaN,~,2,0,18.000,13.0,NaN,True
1059,1060,V*V835Tau,Fl*,70.975000,22.377000,NaN,14.600,NaN,NaN,NaN,NaN,NaN,~,2,0,14.600,13.0,NaN,True
1138,1139,[H83b]B52,Fl*,69.070000,23.480000,NaN,16.000,NaN,NaN,NaN,NaN,NaN,~,2,0,16.000,13.0,NaN,True
1214,1215,V*BDPsc,Fl*,345.512417,-2.194392,NaN,21.000,18.000,18.400,NaN,NaN,NaN,~,2,0,18.000,12.0,NaN,True
1405,1406,V*CRCnc,Fl*,131.837000,19.442000,NaN,16.100,NaN,NaN,NaN,NaN,NaN,~,2,0,16.100,16.0,NaN,True
1134,1135,V*CHCnc,Fl*,130.283000,17.817000,NaN,17.500,NaN,NaN,NaN,NaN,NaN,~,2,0,17.500,5.0,16.0,True
8,9,V*BCCnc,Fl*,130.279000,19.022000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M...,2,0,50.000,5.0,16.0,True
645,646,V*DDCnc,Fl*,128.341800,20.721489,16.000,NaN,NaN,NaN,NaN,NaN,NaN,M3-4,2,0,16.000,5.0,16.0,True
640,641,[H83b]B21,Fl*,68.620000,22.420000,NaN,15.900,NaN,NaN,NaN,NaN,NaN,~,2,0,15.900,13.0,NaN,True
599,600,[H83b]B19,Fl*,68.600000,22.470000,NaN,16.100,NaN,NaN,NaN,NaN,NaN,~,2,0,16.100,13.0,NaN,True
1506,1507,V*BBCnc,Fl*,130.154000,19.488000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M...,1,0,50.000,5.0,16.0,True
569,570,CRTSCSS090615J124907+003142,Fl*,192.278040,0.528330,NaN,NaN,NaN,NaN,NaN,NaN,NaN,~,1,0,50.000,17.0,NaN,True
96,97,V*V1108Tau,Fl*,68.557250,22.445744,NaN,15.600,NaN,14.200,NaN,NaN,NaN,~,1,0,14.200,13.0,NaN,True
1386,1387,V*V1107Tau,Fl*,68.354500,22.682690,NaN,15.700,NaN,NaN,NaN,NaN,NaN,~,1,0,15.700,13.0,NaN,True
1379,1380,V*V1111Tau,Fl*,68.678210,24.769810,NaN,15.000,NaN,17.100,NaN,NaN,NaN,~,1,0,15.000,13.0,NaN,True
1815,1816,V*EKCnc,Fl*,128.000000,21.247000,16.200,17.600,NaN,NaN,NaN,NaN,NaN,~,1,0,16.200,16.0,NaN,True
87,88,2XMMiJ105627.2+070036,Fl*,164.113850,7.010130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,~,1,0,50.000,14.0,NaN,True
1422,1423,V*BKCnc,Fl*,131.550000,18.783000,15.700,NaN,NaN,NaN,NaN,NaN,NaN,~,1,0,15.700,16.0,NaN,True
92,93,V*V1114Tau,Fl*,69.036208,23.475358,NaN,15.500,NaN,12.700,NaN,NaN,NaN,~,1,0,12.700,13.0,NaN,True
486,487,V*V936Tau,Fl*,68.517742,22.004067,NaN,15.600,NaN,15.700,NaN,NaN,NaN,~,1,0,15.600,13.0,NaN,True
693,694,V*V1101Tau,Fl*,66.217170,22.044970,NaN,14.800,NaN,14.300,NaN,NaN,NaN,~,1,0,14.300,13.0,NaN,True
1022,1023,V*AWCnc,Fl*,129.625000,18.123000,15.600,15.600,NaN,NaN,NaN,NaN,NaN,~,1,0,15.600,16.0,NaN,True
1601,1602,[H83b]B15,Fl*,70.970000,26.500000,NaN,18.700,NaN,NaN,NaN,NaN,NaN,~,1,0,18.700,13.0,NaN,True
407,408,2MASSJ07310503+2259547,Fl*,112.770971,22.998536,NaN,NaN,13.523,NaN,NaN,NaN,NaN,~,1,0,13.523,18.0,NaN,True
1933,1934,V*V1109Tau,Fl*,68.580492,22.398675,NaN,15.800,NaN,14.300,NaN,NaN,NaN,~,1,0,14.300,13.0,NaN,True
1206,1207,[H83b]B29,Fl*,66.300000,22.050000,NaN,16.200,NaN,NaN,NaN,NaN,NaN,~,1,0,16.200,13.0,NaN,True
815,816,V*V1113Tau,Fl*,68.711750,22.307390,NaN,14.500,NaN,15.600,NaN,NaN,NaN,~,1,0,14.500,13.0,NaN,True
222,223,2MASSJ04482328+2439315,Fl*,72.097004,24.658769,NaN,NaN,14.319,NaN,NaN,NaN,NaN,~,1,0,14.319,13.0,NaN,True
231,232,MASTEROTJ124017.72-040542.9,Fl*,190.073625,-4.095194,NaN,NaN,NaN,NaN,NaN,21.780,20.387,~,1,0,20.387,10.0,17.0,True
1718,1719,V*EECnc,Fl*,129.562000,19.470000,11.000,11.000,NaN,NaN,NaN,NaN,NaN,~,1,0,11.000,5.0,16.0,True

In [53]:
# observable in C15 or 16

#mask
mask = ((obs['inCA'] >=14.0) | (obs['inCB'] >= 14.0)) & \
        ((obs['inCA'] != 17.0) & (obs['inCB'] != 17.0)) & \
    ((obs['inCA'] != 18.0) & (obs['inCB'] != 18.0)) & \
        ((obs['MagV'] <= 17.) | (obs['MagR'] <= 17.) | (obs['Magr'] <= 17.))

cycle5 = obs.sort_values('bib', ascending=False).loc[mask]
cycle5

,index,identifier,typ,ra,dec,MagU,MagB,MagV,MagR,MagI,Magg,Magr,spectype,bib,not,mag,inCA,inCB,observedable
912,913,Wolf359,Fl*,164.120271,7.014658,16.706,15.541,13.507,11.684,9.507,14.265,12.762,M5.0Ve,552,0,9.507,14.0,NaN,True
434,435,V*AZCnc,Fl*,130.123963,18.402550,14.100,19.200,17.590,16.600,13.450,NaN,NaN,M6.0V,58,0,13.450,16.0,NaN,True
1094,1095,GJ3631,Fl*,163.059300,5.919404,NaN,15.900,14.823,14.637,11.400,15.601,14.159,M5.40,24,0,11.400,14.0,NaN,True
656,657,GJ3630,Fl*,163.013598,0.544034,NaN,15.200,13.898,13.614,10.700,14.636,13.253,M4V,24,0,10.700,14.0,NaN,True
971,972,GJ3636,Fl*,165.210120,12.069670,NaN,17.200,15.960,14.800,12.000,NaN,NaN,M5,16,0,12.000,14.0,NaN,True
230,231,V*DMCnc,Fl*,129.633710,18.465030,NaN,17.100,NaN,16.000,NaN,NaN,NaN,~,4,0,16.000,16.0,NaN,True
556,557,V*DSCnc,Fl*,131.306596,17.724022,16.300,NaN,NaN,13.600,NaN,NaN,NaN,M4,2,0,13.600,5.0,16.0,True
1258,1259,V*DPCnc,Fl*,130.402258,17.561928,13.200,17.600,NaN,15.100,NaN,NaN,NaN,M3.5,2,0,13.200,5.0,16.0,True

obs[(obs['inCB'] == 17.0)]